<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Owner Registration</title>
    <script src="/javascript/dashboard.js" defer></script>
    <script src="/javascript/index.js" defer></script>
    <link rel="stylesheet" href="/css/output.css" />
  </head>
  <body class="">
    <section
      class="text-white w-[100%] h-[100%] flex items-center my-10"
    >
      <form
        action="#"
        method="post"
        class="flex flex-col space-y-7 items-center m-auto bg-custom-Orange py-5 px-12 rounded-xl"
      >

      <img src="/library/logoAndImages/car.png" alt="" class="w-[8rem] m-auto">
       <h2>SIGN UP HERE AS A OWNER</h2>

        <fieldset class="border border-white flex p-2 space-x-2 rounded-sm w-[100%]">
          <label for="username">
            <img
              src="/library/svg/person.svg"
              alt="Username"
              class="w-[1.3rem]"
            />
          </label>

          <input
            type="text"
            name="username"
            id="username"
            placeholder="USERNAME"
            class="border-collapse bg-transparent outline-none text-white" required
          />
        </fieldset>

        <fieldset class="border border-white flex p-2 space-x-2 rounded-sm w-[100%]">
          <label for="phone">
            <img
              src="/library/svg/phone.svg"
              alt="Phone"
              class="w-[1.3rem]"
            />
          </label>

          <input
            type="text"
            name="Phone"
            id="Phone"
            placeholder="PHONE"
            class="border-collapse bg-transparent outline-none text-white" required
          />
        </fieldset>

        <fieldset class="border border-white flex p-2 space-x-2 rounded-sm w-[100%]">
            <label for="email">
              <img
                src="/library/svg/email.svg"
                alt="Email"
                class="w-[1.5rem]"
              />
            </label>
  
            <input
              type="text"
              name="email"
              id="email"
              placeholder="EMAIL"
              class="border-collapse bg-transparent outline-none text-white" required
            />
          </fieldset>

        <fieldset class="border border-white flex p-2 space-x-2 rounded-sm w-[100%]">
          <label for="password">
            <img
              src="/library/svg/lock.svg"
              alt="Password"
              class="w-[1.3rem]"

            />
          </label>

          <input
            type="password"
            name="password"
            id="password"
            placeholder="PASSWORD"
            class="border-collapse bg-transparent outline-none text-white" required
          />
        </fieldset>

        <fieldset class="border border-white flex p-2 space-x-2 rounded-sm w-[100%]">
          <label for="confirmPassword">
            <img
              src="/library/svg/lock.svg"
              alt="Confirm Password"
              class="w-[1.3rem]"
            />
          </label>

          <input
            type="password"
            name="confirmPassword"
            id="confirmPassword"
            placeholder="CONFIRN PASSWORD"
            class="border-collapse bg-transparent outline-none text-white required:"
          />
        </fieldset>

        <div class="flex gap-2 items-center">
          <div class="border border-white p-2 rounded-lg relative invalidStyle validStyle">
            <input
              type="file"
              name="profilePicture"
              id="profilePicture"
              class="opacity-0 absolute"
              required
            />
            <label
              for="profilePicture"
              class="flex flex-col items-center space-y-2"
            >
              <img src="/library/svg/upload.svg" alt="" class="w-[1.2rem]" />
              <span class="text-center text-[10px]">
                UPLOAD <br />
                PROFILE PICTURE
              </span>
            </label>
          </div>

        </div>

        <fieldset class="border border-white flex p-2 space-x-2 rounded-sm w-[100%]">
          <label for="socity/houseName">
            <img
              src="/library/svg/home.svg"
              alt="Socity/House Name"
              class="w-[1.3rem]"
            />
          </label>

          <input
            type="password"
            name="socity/houseName"
            id="socity/houseName"
            placeholder="SOCITY/HOUSE NAME"
            class="border-collapse bg-transparent outline-none text-white required:"
          />
        </fieldset>

        <fieldset class="border border-white flex p-2 space-x-2 rounded-sm w-[100%]">
          <label for="address">
            <img
              src="/library/svg/home.svg"
              alt="Address"
              class="w-[1.3rem]"
            />
          </label>

          <input
            type="password"
            name="address"
            id="address"
            placeholder="ADDRESS"
            class="border-collapse bg-transparent outline-none text-white required:"
          />
        </fieldset>

        <button
          type="submit"
          class="bg-white text-black py-2 rounded-sm shadow-md shadow-gray-500 w-[100%]"
        >
          SIGN UP
        </button>
        <span class="text-center"
          >Already have an account?
          <a href="./login.html" class="text-blue-500">Login</a></span
        >
      </form>
    </section>
  </body>
</html>
