{% extends 'base.html' %}
{% load static %}
{% block main_container %}

    <section
      class="text-white w-[100%] h-[100%] flex items-center my-10"
    >
      <form
        action="{% url 'register:owner-registration' %}"
        method="post"
        enctype="multipart/form-data"
        class="flex flex-col space-y-7 items-center m-auto bg-custom-Orange py-5 px-12 rounded-xl"
      >
      {% csrf_token %}
      <img src="{% static '/library/logoAndImages/car.png' %}" alt="" class="w-[8rem] m-auto">
       <h2>SIGN UP HERE AS A OWNER</h2>

        <fieldset class="border border-white flex p-2 space-x-2 rounded-sm w-[100%]">
          <label for="username">
            <img
              src="{% static '/library/svg/person.svg' %}"
              alt="Username"
              class="w-[1.3rem]"
            />
          </label>

          <input
            type="text"
            name="username"
            id="username"
            placeholder="USERNAME"
            value="{{ username }}"
            class="border-collapse bg-transparent outline-none text-white" required
          />
        </fieldset>

        <fieldset class="border border-white flex p-2 space-x-2 rounded-sm w-[100%]">
          <label for="phone">
            <img
              src="{% static '/library/svg/phone.svg' %}"
              alt="Phone"
              class="w-[1.3rem]"
            />
          </label>

          <input
            type="text"
            name="owner_mobile_number"
            id="owner_mobile_number"
            placeholder="PHONE"
            value="{{ owner_mobile_number }}"
            class="border-collapse bg-transparent outline-none text-white" required
          />
        </fieldset>

        <fieldset class="border border-white flex p-2 space-x-2 rounded-sm w-[100%]">
            <label for="email">
              <img
                src="{% static '/library/svg/email.svg' %}"
                alt="Email"
                class="w-[1.5rem]"
              />
            </label>
  
            <input
              type="text"
              name="owner_email_address"
              id="owner_email_addressemail"
              placeholder="EMAIL"
              value="{{ owner_email_address }}"
              class="border-collapse bg-transparent outline-none text-white" required
            />
          </fieldset>

        <fieldset class="border border-white flex p-2 space-x-2 rounded-sm w-[100%]">
          <label for="password">
            <img
              src="{% static '/library/svg/lock.svg' %}"
              alt="Password"
              class="w-[1.3rem]"

            />
          </label>

          <input
            type="password"
            name="password"
            id="password"
            placeholder="PASSWORD"
            class="border-collapse bg-transparent outline-none text-white" required
          />
        </fieldset>

        <fieldset class="border border-white flex p-2 space-x-2 rounded-sm w-[100%]">
          <label for="confirmPassword">
            <img
              src="{% static '/library/svg/lock.svg' %}"
              alt="Confirm Password"
              class="w-[1.3rem]"
            />
          </label>

          <input
            type="password"
            name="confirmPassword"
            id="confirmPassword"
            placeholder="CONFIRN PASSWORD"
            class="border-collapse bg-transparent outline-none text-white required:"
          />
        </fieldset>
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
  
        <div class="flex gap-2 items-center">
          <div class="border border-white p-2 rounded-lg relative invalidStyle validStyle">
            <input
              type="file"
              name="owner_profile_image"
              id="owner_profile_image"
              class="opacity-0 absolute"
              required
            />
            <label
              for="owner_profile_image"
              class="flex flex-col items-center space-y-2"
            >
              <img src="{% static '/library/svg/upload.svg' %}" alt="" class="w-[1.2rem]" />
              <span class="text-center text-[10px]">
                UPLOAD <br />
                PROFILE PICTURE
              </span>
            </label>
          </div>

        </div>

        <fieldset class="border border-white flex p-2 space-x-2 rounded-sm w-[100%]">
          <label for="socity/houseName">
            <img
              src="{% static '/library/svg/home.svg' %}"
              alt="Socity/House Name"
              class="w-[1.3rem]"
            />
          </label>

          <input
            type="text"
            name="owner_society_name"
            id="owner_society_name"
            placeholder="SOCITY/HOUSE NAME"
            value="{{ owner_society_name }}"
            class="border-collapse bg-transparent outline-none text-white required:"
          />
        </fieldset>

        <fieldset class="border border-white flex p-2 space-x-2 rounded-sm w-[100%]">
          <label for="address">
            <img
              src="{% static '/library/svg/home.svg' %}"
              alt="Address"
              class="w-[1.3rem]"
            />
          </label>

          <input
            type="text"
            name="owner_address"
            id="owner_address"
            placeholder="ADDRESS"
            value="{{ owner_address }}"
            class="border-collapse bg-transparent outline-none text-white required:"
          />
        </fieldset>

        <button
          type="submit"
          class="bg-white text-black py-2 rounded-sm shadow-md shadow-gray-500 w-[100%]"
        >
          SIGN UP
        </button>
        <span class="text-center"
          >Already have an account?
          <a href="{% url "login" %}" class="text-blue-500">Login</a></span
        >
      </form>
    </section>

{% endblock %}
