<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OTP Varification Unsuccessful</title>
    <script src="/javascript/dashboard.js" defer></script>
    <script src="/javascript/index.js" defer></script>
    <link rel="stylesheet" href="/css/output.css" />
  </head>
  <body class="">
    <section class="w-[100%] h-[100%] flex items-center justify-center my-10">
      <div
        class="flex flex-col space-y-4 items-center m-auto bg-custom-Orange py-5 px-12 rounded-xl"
      >
        <img
          src="/library/svg/unhappy.svg"
          alt=""
          class="w-[8rem] m-auto"
        />
        <h3>UNSUCCESSFUL!</h3>
        <p>The OTP code you inputed is not correct</p>

        <a
        href="./index.html"
          class="bg-Custom-Transparent p-3 text-center rounded-xl shadow-lg shadow-black-500 w-[70%] hover:scale-[1.01]"
        >
          go to Sign UP page
        </a>
      </div>
    </section>
  </body>
</html>
