<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OTP Varification</title>
    <script src="/javascript/dashboard.js" defer></script>
    <script src="/javascript/index.js" defer></script>
    <link rel="stylesheet" href="/css/output.css" />
  </head>
  <body class="">
    <section class="w-[100%] h-[100%] flex items-center justify-center my-10">
      <form
        action="#"
        method="post"
        class="flex flex-col space-y-4 items-center m-auto bg-custom-Orange py-5 px-12 rounded-xl"
      >
        <img
          src="/library/logoAndImages/car.png"
          alt=""
          class="w-[8rem] m-auto"
        />
        <h3>OTP VARIFICATION</h3>
        <p>We have sent the verification code to your phone number</p>

        <div class="flex space-x-3">
          <input
            type="text"
            id="digit1"
            onkeyup="moveToNext(this,'digit2')"
            
            class="border bg-transparent outline-none w-[3rem] h-[3rem] text-center rounded-xl"
            maxlength="1"
            required
          />
          <input
            type="text"
            id="digit2"
            onkeyup="moveToNext(this,'digit3')"
            
            class="border bg-transparent outline-none w-[3rem] h-[3rem] text-center rounded-xl"
            maxlength="1"
            required
          />
          <input
            type="text"
            id="digit3"
            onkeyup="moveToNext(this,'digit4')"
            
            class="border bg-transparent outline-none w-[3rem] h-[3rem] text-center rounded-xl"
            maxlength="1"
            required
          />
          <input
            type="text"
            id="digit4"
            onkeyup="moveToNext(this,'digit4')"
            
            class="border bg-transparent outline-none w-[3rem] h-[3rem] text-center rounded-xl"
            maxlength="1"
            required
          />
        </div>

        <p>00.00</p>
        <span class="text-black flex text-[14px] gap-1"
          >Did't get any OTP?
          <p class="text-white cursor-pointer" onclick="">Send OTP</p></span
        >

        <button
          type="submit"
          class="bg-Custom-Transparent p-3 rounded-xl shadow-lg shadow-black-500 w-[70%] hover:scale-[1.01]"
        >
          SIGN UP
        </button>
      </form>
    </section>

    <script>
      function moveToNext(e, nextFieldID){
        if (e.value.length >= 1) {
          document.getElementById(nextFieldID).focus();
        }
      };
    </script>
  </body>
</html>
