<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Available Parking Lots Page</title>
    <script src="/javascript/dashboard.js" defer></script>
    <script src="/javascript/index.js" defer></script>
    <link rel="stylesheet" href="/css/output.css" />
  </head>

  <body>
    <!-- main Section starts here -->

    <section class="flex justify-center">
      <div
        class="w-[90%] divWrapperMaxWidth my-[3rem] flex flex-col-reverse md:grid md:grid-cols-2 justify-between gap-6"
      >
        <div class="flex flex-col gap-4 h-[80vh] w-[100%]">
          <h2>Available Parking Lots</h2>
          <div
            class="flex flex-wrap gap-4 h-[100%] overflow-y-auto no-scrollbar overflow-x-hidden rounded-lg justify-center md:justify-start"
          >
            <div
              class="w-[100%] max-w-[350px] min-w-[200px] max-h-[200px] flex flex-col gap-2 p-4 bg-card-color rounded-lg"
            >
              <p>House/Socity Name: Asad Manjil</p>
              <p>Road No: #03</p>
              <p>Phone: 0140####799</p>
              <a
                href="./bookFromParkingLot.html"
                class="normalButton bg-custom-Orange"
              >
                <p>Check Now</p>
              </a>
            </div>
            <div
              class="w-[100%] max-w-[350px] min-w-[200px] max-h-[170px] flex flex-col gap-2 p-4 bg-card-color rounded-lg"
            >
              <p>House/Socity Name: Asad Manjil</p>
              <p>Road No: #03</p>
              <p>Phone: 0140####799</p>
              <a
                href="./bookFromParkingLot.html"
                class="normalButton bg-custom-Orange"
              >
                <p>Check Now</p>
              </a>
            </div>
            <div
              class="w-[100%] max-w-[350px] min-w-[200px] max-h-[170px] flex flex-col gap-2 p-4 bg-card-color rounded-lg"
            >
              <p>House/Socity Name: Asad Manjil</p>
              <p>Road No: #03</p>
              <p>Phone: 0140####799</p>
              <a
                href="./bookFromParkingLot.html"
                class="normalButton bg-custom-Orange"
              >
                <p>Check Now</p>
              </a>
            </div>
            <div
              class="w-[100%] max-w-[350px] min-w-[200px] max-h-[170px] flex flex-col gap-2 p-4 bg-card-color rounded-lg"
            >
              <p>House/Socity Name: Asad Manjil</p>
              <p>Road No: #03</p>
              <p>Phone: 0140####799</p>
              <a
                href="./bookFromParkingLot.html"
                class="normalButton bg-custom-Orange"
              >
                <p>Check Now</p>
              </a>
            </div>
            <div
              class="w-[100%] max-w-[350px] min-w-[200px] max-h-[170px] flex flex-col gap-2 p-4 bg-card-color rounded-lg"
            >
              <p>House/Socity Name: Asad Manjil</p>
              <p>Road No: #03</p>
              <p>Phone: 0140####799</p>
              <a
                href="./bookFromParkingLot.html"
                class="normalButton bg-custom-Orange"
              >
                <p>Check Now</p>
              </a>
            </div>
            <div
              class="w-[100%] max-w-[350px] min-w-[200px] max-h-[170px] flex flex-col gap-2 p-4 bg-card-color rounded-lg"
            >
              <p>House/Socity Name: Asad Manjil</p>
              <p>Road No: #03</p>
              <p>Phone: 0140####799</p>
              <a
                href="./bookFromParkingLot.html"
                class="normalButton bg-custom-Orange"
              >
                <p>Check Now</p>
              </a>
            </div>
            <div
              class="w-[100%] max-w-[350px] min-w-[200px] max-h-[170px] flex flex-col gap-2 p-4 bg-card-color rounded-lg"
            >
              <p>House/Socity Name: Asad Manjil</p>
              <p>Road No: #03</p>
              <p>Phone: 0140####799</p>
              <a
                href="./bookFromParkingLot.html"
                class="normalButton bg-custom-Orange"
              >
                <p>Check Now</p>
              </a>
            </div>
          </div>
        </div>

        <div class="flex flex-col gap-4 justify-center items-center">
          <h2>Parking Lots locations</h2>
          <img
            src="/library/logoAndImages/licationInMap.png"
            alt="Socity locations"
            class="h-[100%]"
          />
        </div>
      </div>
    </section>

    <!-- main Section starts here -->
  </body>
</html>
