{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Car Parking</title>
    <script src="{% static '/javascript/dashboard.js' %}" defer></script>
    <script src="{% static '/javascript/index.js' %}" defer></script>
    <link rel="stylesheet" href="{% static '/css/output.css' %}"/>
</head>
<body class="">
<main class="">
      <nav
        class="h-[clamp(3.75rem,3.25rem+2.5vw,6.25rem)] w-[100%] bg-custom-Orange flex justify-center sticky top-0 z-40"
      >
        <div
          class="navWrapper w-[100%] divWrapperMaxWidth flex flex-row justify-around items-center"
        >
          <div class="w-[200px] p-0">
            <a href="{% url "home" %}">
              <img
                src="{% static '/library/logoAndImages/parking.png' %}"
                alt="Car Parking"
              />
            </a>
          </div>
          <div
            class="hidden md:flex gap-x-[clamp(2rem,1.2rem+4vw,6rem)] justify-between items-center"
          >
            <p class="cursor-pointer registerOptionsToggler">Registration</p>
            <a href="{% url 'loginApp:login' %}">Login</a>
            <a href="#">About Us</a>
            <span class="flex gap-1">
              <p class="banglaLan cursor-pointer hover:scale-[1.1]">বাংলা</p>
              /
              <p class="englishLan cursor-pointer hover:scale-[1.1]">English</p>
            </span>
          </div>

          <div
            class="flex flex-col py-8 relative w-[50%] gap-5 items-center top-[8rem] bg-Custom-Transparent scale-x-0 origin-right right-[-8%] justify-between duration-[1s] rounded-lg targetMenus md:hidden"
          >
            <p class="cursor-pointer registerOptionsToggler">Registration</p>
            <a href="">Login</a>
            <a href="#">About Us</a>
            <span class="flex gap-1">
              <p class="banglaLan cursor-pointer hover:scale-[1.1]">বাংলা</p>
              /
              <p class="englishLan cursor-pointer hover:scale-[1.1]">English</p>
            </span>
          </div>
          <img
            src="{% static '/library/svg/menu.svg' %}"
            alt="Menus"
            class="w-[2rem] menusToggler md:hidden"
          />
        </div>
      </nav>

      <section
        class="registerOptions z-40 scale-y-0 origin-top duration-[1s] fixed rounded-t-xl flex justify-center items-center left-[40%] top-[15%] md:top-[10%]"
      >
        <!-- <div class=" flex flex-col items-center space-y-5">
          <img
            src="/library/svg/exit.svg"
            alt="Exit"
            class="w-[3rem] registerOptionsToggler cursor-pointer"
          />
          <h2 class="">USER REGISTRATION</h2> -->
        <div class="flex flex-col w-[100%] overflow-hidden">
          <div
            class="userTypestoggler bg-custom-Orange flex justify-between border border-b-[10px] rounded-t-xl p-[15px] cursor-pointer"
          >
            <h3 class="">SELECT USER</h3>
            <img src="{% static '/library/svg/arrow.svg' %}" alt="" class="w-[16px]" />
          </div>

          <div
            class="userTypes bg-custom-Orange flex flex-col scale-y-100 duration-[1s] origin-top"
          >
            <a href="{% url "driverRegistration" %}"><h3>DRIVER</h3></a>
            <a href="{% url "ownerRegistration" %}"><h3>OWNER</h3></a>
            <a href="{% url "otpVarification" %}"><h3>OTP VARIFICATION</h3></a>
            <a href="{% url "otpVarificationUnSuccessful" %}"
              ><h3>VARIFICATION UNSUCCESSFUL</h3></a
            >
            <a href="{% url "caretakerRegistration" %}"><h3>CARETAKER</h3></a>
            <a href="{% url "socityRegistration" %}"><h3>COMMERCIAL</h3></a>
            <a href="{% url "socityRegistration" %}"><h3>SOCITY</h3></a>
          </div>
        </div>
      </section>

 {% block main_container %}

 {% endblock %}
  <footer
        class="bg-custom-Orange flex flex-col items-center space-y-4 py-6"
      >
        <div
          class="w-[90%] lg:w-[70%] divWrapperMaxWidth gap-6 flex flex-wrap sm:flex-nowrap justify-between items-center"
        >
          <div class="space-y-4">
            <h3>CONTACT US</h3>
            <p>
              Corporate Office : <br />
              Suit 704, 6th Floor, TTI Bhaban, BITAC, Tejgoan I/A,<br />
              Dhaka-1208, Bangladesh
            </p>
            <div class="flex space-x-3">
              <a href="#">
                <img
                  src="{% static '/library//svg/youtube.svg' %}"
                  alt="Youtube"
                  class="w-[1.6rem] cursor-pointer"
                />
              </a>
              <a href="#">
                <img
                  src="{% static '/library//svg/whatsapp.svg' %}"
                  alt="WhatApp"
                  class="w-[1.5rem] cursor-pointer"
                />

              </a>
              <a href="#">
                <img
                  src="{% static '/library//svg/messenger.svg' %}"
                  alt="Messenger"
                  class="w-[1.6rem] cursor-pointer"
                />
              </a>
            </div>
          </div>
          <div class="space-y-4">
            <h3>GOOGLE MAP</h3>
            <img
              src="{% static '/library/logoAndImages/licationInMap.png' %}"
              alt="Map"
              class="w-[300px]"
            />
          </div>
        </div>
        <span class="text-center"
          >Copyright and Developed © 2024 OS IT Solution Ltd</span
        >
      </footer>
      <seection class="fixed flex flex-col gap-4 bottom-[10%] left-[0.5rem]">
        <a href="#" class=""
          ><img
            src="{% static '/library/svg/linkedIn.svg' %}"
            alt="LinkedIn"
            class="w-[2.5rem]"
        /></a>
        <a href="#" class=""
          ><img
            src="{% static '/library/svg/facebook.svg' %}"
            alt="LinkedIn"
            class="w-[2.5rem]"
        /></a>
        <a href="#" class=""
          ><img
            src="{% static '/library/svg/whatsappColor.svg' %}"
            alt="LinkedIn"
            class="w-[2.5rem]"
        /></a>
        <a href="#" class=""
          ><img
            src="{% static '/library/svg/gamil.svg' %}"
            alt="LinkedIn"
            class="w-[2.3rem]"
        /></a>
      </seection>

      <section class="fixed flex flex-col gap-4 bottom-[10%] right-[0.5rem]">
        <img
          src="{% static '/library/svg/topArrow.svg' %}"
          alt="^"
          class="w-[2rem] goToTop"
        />
      </section>

{#       <section class="w-[100%] flex justify-center fixed bottom-[5%]">#}
{#        <div class="w-[80%] divWrapperMaxWidth p-4 bg-custom-Orange flex justify-between rounded-md  items-center">#}
{#          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad nam repellendus tempore.</p>#}
{#          <img src="/library/svg/exit.svg" alt="Close" class="w-[2rem]">#}
{##}
{#        </div>#}
{#      </section>#}
    </main>
</body>
</html>