<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard Add Parking Slot</title>
    <script src="/javascript/index.js" defer></script>
    <script src="/javascript/dashboard.js" defer></script>
    <link rel="stylesheet" href="/css/output.css" />
  </head>

  <body class="">
    <main class="flex gap-1 md:gap-4 max-w-[1500px] h-[100svh]">
      <!-- sidebar -->
      <div
        class="sidebar duration-[1s] z-50 h-[100%] w-fit inline-flex flex-col gap-4 justify-between py-[1rem] px-[5px] lg:p-[1rem] bg-custom-Orange items-center"
      >
        <a href="./index.html">
          <img
            src="/library/logoAndImages/parking.png"
            alt="CAR PARKING"
            class="hidden w-[200px] lg:block"
          />
          <img
            src="/library/logoAndImages/car.png"
            alt="Home"
            class="w-[4rem] lg:hidden"
          />
        </a>

        <div class="sidebarOptions pb-10 lg:pb-0 flex flex-col gap-4">
          <div class="lg:hidden rounded-md p-2">
            <img
              src="/library/svg/exit.svg"
              alt="Close"
              class="w-[2rem]  m-auto sideBarCloser sideBarTogglerEffect sideBarToggler"
            />
            <img
              src="/library/svg/open.svg"
              alt="Open"
              class="w-[2rem] m-auto sideBarOpener sideBarToggler"
            />
          </div>

          <a
            href="./socityDashboard.html"
            class="eachSidebarOption flex justify-between hover:bg-Custom-Transparent visited:bg-red-600 rounded-md p-2"
          >
            <div class="flex gap-2">
              <img
                src="/library/svg/dashboard.svg"
                alt="Dashboard"
                class="w-[1.5rem]"
              />
              <span class="targetedMenu duration-[1s] ">Dashboard</span>
            </div>
            <img
              src="/library/svg/rightArrow.svg"
              alt="GO"
              class="w-[1rem] targetedMenu duration-[1s] "
            />
          </a>

          <a
            href="./index.html"
            class="eachSidebarOption flex justify-between hover:bg-Custom-Transparent rounded-md p-2"
          >
            <div class="flex gap-2">
              <img
                src="/library/svg/home.svg"
                alt="Home"
                class="w-[1.2rem]"
              />
              <span class="targetedMenu duration-[1s] ">Home</span>
            </div>
            <img
              src="/library/svg/rightArrow.svg"
              alt="GO"
              class="w-[1rem] targetedMenu duration-[1s] "
            />
          </a>

          <a
            href="./bookFromParkingLot.html"
            class="eachSidebarOption flex justify-between hover:bg-Custom-Transparent rounded-md p-2"
          >
            <div class="flex gap-2">
              <img
                src="/library/svg/booking.svg"
                alt="Book"
                class="w-[1rem]"
              />
              <span class="targetedMenu duration-[1s] ">Book Parking</span>
            </div>
            <img
              src="/library/svg/rightArrow.svg"
              alt="GO"
              class="w-[1rem] targetedMenu duration-[1s] "
            />
          </a>

          <a
            href="./dashboardAddSlotOwner.html"
            class="eachSidebarOption flex justify-between hover:bg-Custom-Transparent rounded-md p-2"
          >
            <div class="flex gap-2">
              <img
                src="/library/svg/person.svg"
                alt="Add Slot Owner"
                class="w-[1rem]"
              />
              <span class="targetedMenu duration-[1s] ">Add Slot Owner</span>
            </div>
            <img
              src="/library/svg/rightArrow.svg"
              alt="GO"
              class="w-[1rem] targetedMenu duration-[1s] "
            />
          </a>

          <a
            href="./dashboardAddParkingSlot.html"
            class="eachSidebarOption flex justify-between hover:bg-Custom-Transparent rounded-md p-2"
          >
            <div class="flex gap-2">
              <img
                src="/library/svg/add.svg"
                alt="Add Slot"
                class="w-[1rem]"
              />
              <span class="targetedMenu duration-[1s] ">Add Parking Slot</span>
            </div>
            <img
              src="/library/svg/rightArrow.svg"
              alt="GO"
              class="w-[1rem] targetedMenu duration-[1s] "
            />
          </a>

          <a
            href="./dashboardAccount.html"
            class="eachSidebarOption flex justify-between hover:bg-Custom-Transparent rounded-md p-2"
          >
            <div class="flex gap-2">
              <img
                src="/library/svg/account.svg"
                alt="Account"
                class="w-[1rem]"
              />
              <span class="targetedMenu duration-[1s] ">Account</span>
            </div>
            <img
              src="/library/svg/rightArrow.svg"
              alt="GO"
              class="w-[1rem] targetedMenu duration-[1s] "
            />
          </a>

          <a
            href="./dashboardParkingMap.html"
            class="eachSidebarOption flex justify-between hover:bg-Custom-Transparent rounded-md p-2"
          >
            <div class="flex gap-2">
              <img src="/library/svg/map.svg" alt="Map" class="w-[1rem]" />
              <span class="targetedMenu duration-[1s] ">Parking Map</span>
            </div>
            <img
              src="/library/svg/rightArrow.svg"
              alt="GO"
              class="w-[1rem] targetedMenu duration-[1s] "
          /></a>

          <a
            href="#"
            class="eachSidebarOption flex justify-between hover:bg-Custom-Transparent rounded-md p-2"
          >
            <div class="flex gap-2">
              <img src="/library/svg/cctv.svg" alt="CCTV" class="w-[1rem]" />
              <span class="targetedMenu duration-[1s] ">CCTV</span>
            </div>
            <img
              src="/library/svg/rightArrow.svg"
              alt="GO"
              class="w-[1rem] targetedMenu duration-[1s] "
          /></a>

          <a
            href="#"
            class="eachSidebarOption flex justify-between hover:bg-Custom-Transparent rounded-md p-2"
          >
            <div class="flex gap-2">
              <img src="/library/svg/help.svg" alt="Help" class="w-[1rem]" />
              <span class="targetedMenu duration-[1s] ">Help</span>
            </div>
            <img
              src="/library/svg/rightArrow.svg"
              alt="GO"
              class="w-[1rem] targetedMenu duration-[1s] "
            />
          </a>
        </div>
        <span class="text-[12px] targetedMenu duration-[1s] "
          >Copyright and Developed © 2024 OS IT Solution Ltd</span
        >
      </div>

      <!-- top Menubar -->

      <div
        class="flex flex-col p-[1rem] gap-4 w-[100%] h-[100%] overflow-y-scroll"
      >
        <div class="flex flex-col gap-4">
          <div class="flex justify-end md:justify-between items-center">
            <h3 class="hidden md:block">Hello shakib1122 👋🏼</h3>
            <div class="inline-flex gap-6 items-center">
              <img
                src="/library/svg/notification.svg"
                alt="Notifications"
                class="w-[1.5rem]"
              />
              <a href="#">
                <img
                  src="/library/logoAndImages/profilePic.jpg"
                  alt="Profile"
                  class="w-[2rem] rounded-full"
                />
              </a>
              <div class="flex flex-col">
                <b class="text-nowrap">Atiqur Rahman</b>
                <span>Society Owner</span>
              </div>
            </div>
          </div>
          <div class="flex flex-wrap gap-4 justify-start">
            <div class="text-center p-2 bg-card-color rounded-md">
              <p>
                Available <br />
                Parking Space
              </p>
              <h3 class="text-custom-Orange">30</h3>
            </div>
            <div class="text-center p-2 bg-card-color rounded-md">
              <p>
                Occupied <br />
                Parking Space
              </p>
              <h3 class="text-custom-Orange">30</h3>
            </div>
            <div class="text-center p-2 bg-card-color rounded-md">
              <p>
                Available In<br />
                Next 20 Minutes
              </p>
              <h3 class="text-custom-Orange">30</h3>
            </div>

            <div class="text-center p-2 bg-card-color rounded-md">
              <p>Total Earning</p>
              <h3 class="text-custom-Orange">5000/BDT</h3>
            </div>
          </div>
        </div>

        <!-- Content -->

        <form action="#" class="flex flex-col gap-6">
          <label class="flex flex-col gap-2">
            Parking Slot Name
            <input
              type="text"
              name="slotName"
              id="slotName"
              placeholder="Type here.."
              class="border-collapse outline-none max-w-[450px] p-2 rounded-md text-black"
              required
            />
          </label>

          <label class="flex flex-col gap-2">
            Parking Slot Owner Name
            <input
              type="text"
              name="slotOwner"
              id="slotOwner"
              placeholder="Type here.."
              class="border-collapse outline-none max-w-[450px] p-2 rounded-md text-black"
              required
            />
          </label>

          <label class="flex flex-col gap-2">
            House / Society Name
            <input
              type="text"
              name="socityName"
              id="socityName"
              placeholder="Type here.."
              class="border-collapse outline-none max-w-[450px] p-2 rounded-md text-black"
              required
            />
          </label>

          <label class="flex flex-col gap-2">
            Parking Charge Category
            <select
              name="ChargeCategory"
              id="ChargeCategory"
              class="text-black border-collapse outline-none max-w-[450px] p-2 rounded-md"
            >
              <option value="hourly">Hourly</option>
              <option value="monthly">Monthly</option>
            </select>
          </label>

          <label class="flex flex-col gap-2">
            Enter Parking Charge *BDT
            <input
              type="text"
              name="parkingCharge"
              id="parkingCharge"
              placeholder="Type here.."
              class="border-collapse outline-none max-w-[450px] p-2 rounded-md text-black"
              required
            />
          </label>

          <button
            type="submit"
            class="bg-custom-Orange border-collapse outline-none max-w-[200px] p-2 rounded-md hover:scale-[1.01]"
          >
            Submit
          </button>
        </form>
      </div>
    </main>

    <script></script>
  </body>
</html>
